<div class="am-alert am-alert-<%= objs.empty? ? "danger" : "success"%>" data-am-alert="">
  <button type="button" class="am-close">×</button>
  <p><%= objs.empty? ? "您到火星了吗？？" : "共检索到#{objs.size}条结果" %></p>
</div>
